extends partials/layout

block content
  .ui.text.container
    form.ui.form(method='post' action='' enctype="multipart/form-data")
      h2.ui.dividing.header Search for Candidates
      .two.fields
        .field
          label Keywords
          input(type='text', name='experiment[name]', placeholder='Keywords')
        .field
          label Sports
          select.ui.fluid.search.dropdown(name='skills', multiple='')
            option(value='') Sports
            option(value='athletics') Athletics
            option(value='afl') AFL
            option(value='badminton') Badminton
            option(value='basketball') Basketball
            option(value='boxing') Boxing
            option(value='cricket') Cricket
            option(value='dance') Dance (Specify)
            option(value='fencing') Fencing
            option(value='football') Football (Soccer)
            option(value='futsal') Futsal
            option(value='golf') Golf
            option(value='gymnastics') Gymnastics
            option(value='hockey') Hockey
            option(value='martial Arts') Martial Arts
            option(value='netball') Netball
            option(value='personal Trainer') Personal Trainer
            option(value='pilates') Pilates
            option(value='rugby League') Rugby League
            option(value='rugby Union') Rugby Union
            option(value='running') Running
            option(value='swimming') Swimming
            option(value='team Handball') Team Handball
            option(value='tennis') Tennis
            option(value='touch Football') Touch Football
            option(value='triathlon') Triathlon
            option(value='volleyball') Volleyball
            option(value='yoga') Yoga
            option(value='zumba') Zumba
            option(value='other') Other
      .two.fields
        .field
          label Location
          select.ui.search.dropdown
            option(value='') Location
            option(value='brisbane-central') Central Brisbane
            option(value='brisbane-north') North Brisbane
            option(value='brisbane-south') South Brisbane
            option(value='brisbane-east') East Brisbane
            option(value='brisbane-west') West Brisbane
            option(value='sunshine-coast') Sunshine Coast
            option(value='gold-coast') Gold Coast

        .field
          label Blue Card Holder
          select.ui.dropdown
            option(value='') Blue Card Holder
            option(value='yes') Yes
            option(value='no') No
      .two.fields
        .inline.field
          .ui.slider.checkbox
            input#time-day-search-toggle(type='checkbox', tabindex='0')
            |
            label Search for specific days and times.

      #day-time-add(hidden=true)
        .fields
          .five.wide.field
            label Day
            select.ui.search.dropdown#time-day-day
              option(value='') Day
              option(value='monday') Monday
              option(value='tuesday') Tuesday
              option(value='wednesday') Wednesday
              option(value='thursday') Thursday
              option(value='friday') Friday
              option(value='saturday') Saturday
              option(value='sunday') Sunday
          .four.wide.field
            label Start
            .ui.calendar#time-day-start
              .ui.input.left.icon
                i.time.icon
                |
                input(type='text', placeholder='Time')
          .four.wide.field
            label End
            .ui.calendar#time-day-end
              .ui.input.left.icon
                i.time.icon
                |
                input(type='text', placeholder='Time')
          .three.wide.field
            label &nbsp;
            button.ui.labeled.icon.button.green.fluid
              i.plus.icon
              | Add

      table.ui.blue.table#day-time-table(hidden=true)
        thead
          tr
            th.three.wide Day
            th.twelve.wide Available
            th.two.wide Delete
        tbody
          tr
            td Monday
            td 1PM - 3PM

      .field
        button.ui.button.blue.fluid(type='search') Search
      .ui.error.message

  script.
    $(document).ready(function () {
      $('.ui.form').form({
        fields: {
          name: {
            identifier: 'experiment[name]',
            rules: [
              {type: 'empty', prompt: 'Please enter a name for your experiment'}
            ]
          },
          images: {
            identifier: 'experiment[images]',
            rules: [
              {type: 'empty', prompt: 'Please select images for your experiment'}
            ]
          }
        }
      });
    });

    // Show / Hide Time Selection
    $('#time-day-search-toggle').change(function () {
      $('#day-time-add').attr('hidden', !this.checked);
      $('#day-time-table').attr('hidden', !this.checked);
    });