doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel='stylesheet', href='/css/style.css')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
  body
    nav.navbar.navbar-default
      .container
        a.navbar-brand(href='#') Welcome to Catasta!
        .collapse.navbar-collapse
          ul.nav.navbar-nav.pull-right
            li
              a(href='/') Home
            li
              a(href='/users/login') Login
            li
              a(href='/users/register') Register

    if success_msg.length > 0
      .container.alert.alert-success= success_msg
    if error_msg.length > 0
      .container.alert.alert-danger= error_msg
    if error.length > 0
      .container.alert.alert-danger= error

    block content