extends partials/layout

block content
  .ui.text.container
    if success.length != 0
      .field.ui.positive.message=success
    if info.length != 0
      .field.ui.warning.message=info
    if error.length != 0
      .field.ui.negative.message=error

    //- Profile Information
    form.ui.form#profile(method='post' action='')
      //- Personal Information Entry
      h3.ui.dividing.header Organisation Information
      .two.fields
        .field
          label Organisation Name
          input(type='text', name='name', placeholder='Organisation Name', value=(user.profile) ? user.profile.name: null)
        .field
          label Conatact Name
          input(type='text', name='contact', placeholder='Contact Name', value=(user.profile) ? user.profile.contact: null)
      .three.fields
        .field
          label Phone
          input(type='text', name='phone', placeholder='Phone', value=(user.profile) ? user.profile.phone: null)
        .field
          label Type
          select.ui.fluid.search.dropdown(name='type')
            option(value='') Types
            option(value='School' selected=(user.profile && user.profile.type === 'School')) School
            option(value='Sporting Club' selected=(user.profile && user.profile.type === 'Sporting Club')) Sporting Club
            option(value='Organisation' selected=(user.profile && user.profile.type === 'Organisation')) Organisation
        .field
          label Locations
          select.ui.search.dropdown#locations(name='locations', multiple='')
            option(value='') Locations
            option(value='Brisbane Central' selected=(user.profile && user.profile.location === 'Brisbane Central')) Central Brisbane
            option(value='Brisbane North' selected=(user.profile && user.profile.location === 'Brisbane North')) North Brisbane
            option(value='Brisbane South' selected=(user.profile && user.profile.location === 'Brisbane South')) South Brisbane
            option(value='Brisbane East' selected=(user.profile && user.profile.location === 'Brisbane East')) East Brisbane
            option(value='Brisbane West' selected=(user.profile && user.profile.location === 'Brisbane West')) West Brisbane
            option(value='Sunshine Coast' selected=(user.profile && user.profile.location === 'Sunshine Coast')) Sunshine Coast
            option(value='Gold Coast' selected=(user.profile && user.profile.location === 'Gold Coast')) Gold Coast
      .field
        button.ui.button.blue.fluid Save
      .ui.error.message

  if user.profile
    script.
      $(document).ready(function () {
        $('#locations').dropdown('set selected', '#{user.profile.locations}'.split(','));
      });

  script.
    $(document).ready(function () {
      // Form Validation
      $('.ui.form').form({
        fields: {
          name: {
            identifier: 'name',
            rules: [
              { type: 'empty', prompt: 'Please enter your Organisations Name' }
            ]
          },
          contact: {
            identifier: 'contact',
            rules: [
              { type: 'empty', prompt: 'Please enter your Organisations Contact Name' }
            ]
          },
          type: {
            identifier: 'type',
            rules: [
              { type: 'empty', prompt: 'Please select your Organisations Type' }
            ]
          },
          locations: {
            identifier: 'locations',
            rules: [
              { type: 'empty', prompt: 'Please select your Organisations Locations' }
            ]
          },
        }
      });
    });