html
  head
    title SportsConnection

    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css')
    link(rel='stylesheet', href='/css/calendar.css')
    link(rel='stylesheet', type='text/css', href='/css/layout.css')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js')
    script(src='https://checkout.stripe.com/checkout.js')
    script(type='text/javascript', src='/js/calendar.js')
    script(src='/js/layout.js')

  body
    .ui.top.fixed.borderless.main.menu
      .ui.container
        a(href='/')
          img(src='/img/logo.png').item
        if (user && user.type === 'organization')
          a(href='/dashboard').item
            i.search.icon
            | Search for Candidates
        if (user && user.type === 'individual')
          a(href=`/profile/view/${user.id}`).item
            i.user.icon
            | View Profile
        .right.menu
          if user
            a(href='/profile').item
              i.write.icon
              | Edit Profile
            a(href='/account').item
              i.archive.icon
              | Account
            a(href='/logout').item
              i.sign.out.icon
              | Logout
          else
            a(href='/register').item Register
            a(href='/login').item Login

    block content
